<!DOCTYPE html>
<head>
<style>
body {
  background-color: tan;
  text-align: center;
}
.header {
  padding: 2%;
  text-align: center;
  color: tan;
  font-size: 20px;
  background: brown;
}

.footer {
  padding: 2%;
  text-align: left;
  color: tan;
  font-size: 20px;
  background: brown;
}


</style>
<title>BookPage</title>
</head>
<div class="header">
  <h1>Goose Reads</h1>
  <p>Books page results</p>
</div>
<body>
  <p>Title of book is {{title}}</p>
  <img src={{pics}} alt="no image">
  <p>Info</p>
  <p>Author {{authors[0]}}</p>
  <p>Published on {{publishedDate}}</p>
  <p>Critics say it scores {{averageRating}} which means it {{vibe}}</p>
  <p>The ISBN is {{ISBN_10}}</p>
  <p>List of reviews</p>

  <form action = "{{ url_for('reviewsubmitted') }}" method= "post">
    <input style = "height:150px" type="text" name = "reviewtext" placeholder="Leave a review">
<br>
    <input type="radio" id="g5" name="goosenumber" value=5>
      <label for="g5">5 Gooses out of 5</label><br>
      <input type="radio" id="g4" name="goosenumber" value=4>
      <label for="g4">4 Gooses out of 5</label><br>
      <input type="radio" id="g3" name="goosenumber" value=3>
      <label for="g3">3 Gooses out of 5</label><br>
      <input type="radio" id="g2" name="goosenumber" value=2>
      <label for="g2">2 Gooses out of 5</label><br>
      <input type="radio" id="g1" name="goosenumber" value=1>
      <label for="g1">1 Gooses out of 5</label><br>

    <button>Submit Review</button>
  </form>


</body>
<div class="footer">
  <p>Hope you enjoyed this information</p>
  <form action="{{ url_for('logout') }}">
    <button>logout</button>
</form>
</div>
