<!DOCTYPE html>
<head>

<link href="./genCSS.css" rel="stylesheet">

<title>Homepage</title>
</head>
<body>
  <h1>Welcome to the book reviewing Goose Reads</h1>
  <p>please log in below</p>
  <p>login here</p>
  <form action = "{{url_for('searchs')}}" method = "post">
    <input type="text" username = "username" placeholder="Enter your username">
    <input type="password" password = "password" placeholder="Enter your password">
    <button>Enter Information</button>


  <h4>login here</h4>
  <br>
  <br>
  <p>New Member?</p>
  <p>New Member button</p>




</body>
