<!DOCTYPE html>
<head>
  <style>
  body {
    background-color: tan;
    text-align: center;
  }
  .header {
    padding: 2%;
    text-align: center;
    color: tan;
    font-size: 20px;
    background: brown;
  }

  .footer {
    padding: 2%;
    text-align: left;
    color: tan;
    font-size: 20px;
    background: brown;
  }


  </style>


<title>Homepage</title>
</head>
<body>
  <div class="header">
    <h1>Goose Reads</h1>
    <p>Landing and login page!</p>
  </div>
  <p>please log in below</p>
  <p>{{message}}</p>
  <form action = "{{ url_for('search') }}" method= "post">
    <input type="text" name = "username" placeholder="Enter your username">
    <input type="password" name = "password" placeholder="Enter your password">
    <button>Enter Information</button>
  </form>


  <h4>login here</h4>
  <br>
  <br>
  <p>New Member?</p>
  <form action="{{ url_for('registration') }}">
    <input type="submit" value="Register Here" />
</form>




</body>
<div class="footer">
  <p>Goose Reads<p>
</div>
