<!DOCTYPE html>
<head>
<style>
body {
  background-color: tan;
  color: brown;
  text-align: center;
}
.header {
  padding: 2%;
  text-align: center;
  color: tan;
  font-size: 20px;
  background: brown;
}

.footer {
  padding: 2%;
  text-align: left;
  color: tan;
  font-size: 20px;
  background: brown;
}
</style>
<title>Registration Page</title>
</head>
<div class="header">
  <h1>Goose Reads</h1>
  <p>Search away little goose</p>
</div>
<body>
  <p>Please Register below</p>

  <form action = "{{url_for('index')}}" method = "post">
    <!-- Enter your Full name <br>
    <input type="text" fullname = "fullname" placeholder="Full Name"><br> -->
    Enter your username <br>
    <input type="text" name = "newusername" placeholder="Enter a username"><br>
    Enter your password <br>
    <input type="password" name = "newpassword" placeholder="Enter a password"><br>
    Once you hit register you will be redirected to the login page to login for the first time <br>
    <button>Register!</button>
</form>

</body>

<div class="footer">
  <p>Hope you enjoyed this information</p>

</div>
