<!DOCTYPE html>
<head>
<style>
body {
  background-color: tan;
  color: brown;
}
</style>
<title>Registration Page</title>
</head>
<body>
  <p>Please Register below</p>

  <form action = "{{url_for('index')}}" method = "post">
    <!-- Enter your Full name <br>
    <input type="text" fullname = "fullname" placeholder="Full Name"><br> -->
    Enter your username <br>
    <input type="text" username = "username" placeholder="Enter a username"><br>
    Enter your password <br>
    <input type="password" password = "password" placeholder="Enter a password"><br>
    Once you hit register you will be redirected to the login page to login for the first time <br>
    <button>Register!</button>
</form>

</body>
