<!DOCTYPE html>
<head>
<style>
body {
  background-color: tan;
  color: brown;
  text-align: center;
}
.header {
  padding: 2%;
  text-align: center;
  color: tan;
  font-size: 20px;
  background: brown;
}

.footer {
  padding: 2%;
  text-align: left;
  color: tan;
  font-size: 20px;
  background: brown;
}
</style>
<title>Search Page</title>
</head>
<div class="header">
  <h1>Goose Reads</h1>
  <p>Search away little goose</p>
</div>
<body>
  <p><b>please put in information for the book you would like</b></p>
  <p><b>Hi {{username}}</b></p>
Enter in search criteria <br>
Either Author, isbn, or title
  <form action = "{{ url_for('searchresults') }}" method= "post">
    <input type="text" name = "searchword" placeholder="searchword">
    <button>Search</button>
  </form>
  {{message}}

</body>

<div class="footer">
  <p>Hope you enjoyed this information</p>
  <form action="{{ url_for('logout') }}">
    <button>logout</button>
</form>
</div>
